bluesky-research==0.1.0
sip==6.6.2
shellingham==1.5.4
jupyter-server==1.23.4
pkce==1.0.3
datashader==0.15.2
sphinxcontrib-serializinghtml==1.1.5
trove-classifiers==2024.1.8
dask==2023.6.0
conda-libmamba-solver==23.7.0
pytest==8.3.5
python-slugify==5.0.2
hvplot==0.8.4
libipld==3.0.0
h5py==3.9.0
readchar==4.2.1
qtconsole==5.4.2
fastjsonschema==2.19.1
conda-verify==3.4.2
pep8==1.7.1
pip-tools==7.4.1
starlette==0.46.2
rfc3339-validator==0.1.4
backports.tempfile==1.0
executing==0.8.3
docstring-to-markdown==0.11
text-unidecode==1.3
prefect==3.4.11
PyWavelets==1.4.1
poetry-plugin-export==1.6.0
GitPython==3.1.45
queuelib==1.5.0
decorator==5.1.1
prompt-toolkit==3.0.36
gmpy2==2.1.2
idna==3.10
notebook==6.5.4
semver==3.0.4
contourpy==1.0.5
numba==0.57.1
social-media-backend==0.1.0
Werkzeug==2.2.3
zstandard==0.23.0
mdit-py-plugins==0.3.0
jupyter_server_ydoc==0.8.0
typer==0.16.0
opentelemetry-exporter-otlp-proto-http==1.27.0
tables==3.8.0
jaraco.classes==3.2.1
jupyter-ydoc==0.2.4
multipledispatch==0.6.0
Markdown==3.4.1
pandocfilters==1.5.0
ptyprocess==0.7.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
statsmodels==0.14.0
Unidecode==1.2.0
nbclient==0.5.13
partd==1.4.0
yarl==1.8.1
openai==1.82.0
pytz==2025.2
tinycss2==1.2.1
crashtest==0.4.1
astropy==5.1
pycosat==0.6.4
toml==0.10.2
spyder-kernels==2.4.4
flake8==6.0.0
python-lsp-jsonrpc==1.0.0
pyproject_hooks==1.0.0
filelock==3.13.1
typing-inspection==0.4.1
lazy_loader==0.2
multidict==6.0.2
rpds-py==0.27.0
responses==0.13.3
colorama==0.4.6
python-dateutil==2.8.2
huggingface-hub==0.15.1
constantly==15.1.0
ipykernel==6.25.0
pylint-venv==2.3.0
scikit-learn==1.3.0
smart-open==5.2.1
pyerfa==2.0.0
tldextract==3.2.0
intervaltree==3.1.0
atproto==0.0.58
parsel==1.6.0
Pygments==2.15.1
datashape==0.5.4
entrypoints==0.4
et-xmlfile==1.1.0
rope==1.7.0
tornado==6.3.2
pathspec==0.10.3
itemadapter==0.3.0
async-timeout==4.0.2
python-json-logger==2.0.7
python-lsp-server==1.7.2
nbformat==5.9.2
networkx==3.1
cytoolz==0.12.0
anyio==4.9.0
defusedxml==0.7.1
PySuperTuxKart==1.1.2
slicer==0.0.8
jsonschema==4.25.0
jedi==0.18.1
stack-data==0.2.0
requests==2.32.3
redis==6.4.0
pickleshare==0.7.5
conda-repo-cli==1.0.75
attrs==25.3.0
poetry==1.7.1
dnspython==2.7.0
py-cpuinfo==8.0.0
Rtree==1.0.1
Bottleneck==1.3.5
cryptography==43.0.3
nest-asyncio==1.5.6
jupyter-events==0.6.3
websockets==13.1
locket==1.0.0
bokeh==3.2.1
torch==2.8.0
msgpack==1.0.3
bleach==4.1.0
tenacity==9.1.2
protobuf==4.25.8
datasets==2.12.0
Send2Trash==1.8.0
parso==0.8.3
ipython==8.15.0
pip==23.2.1
six==1.16.0
pathlib==1.0.1
mypy-extensions==1.0.0
PySuperTuxKartData==1.0.0
jupyterlab-widgets==3.0.5
ipywidgets==8.0.4
kiwisolver==1.4.4
incremental==21.3.0
plotly==5.9.0
pytest-html==4.1.1
scikit-image==0.20.0
pytest-env==1.1.5
appnope==0.1.2
jupyter-console==6.6.3
anaconda-anon-usage==0.4.2
webencodings==0.5.1
langchain-text-splitters==0.3.8
exceptiongroup==1.3.0
inflection==0.5.1
future==0.18.3
hyperlink==21.0.0
langchain-openai==0.3.18
charset-normalizer==3.4.2
cloudpickle==2.2.1
aiofiles==22.1.0
clyent==1.2.2
isort==5.9.3
jupyterlab_server==2.22.0
navigator-updater==0.4.0
prometheus-fastapi-instrumentator==7.0.2
pytest-xdist==3.8.0
asttokens==2.0.5
conda==23.7.4
googleapis-common-protos==1.70.0
ruamel-yaml-conda==0.17.21
importlib-metadata==6.0.0
Sphinx==5.0.2
PySocks==1.7.1
traitlets==5.7.1
tiktoken==0.9.0
Babel==2.11.0
distlib==0.3.8
opentelemetry-exporter-otlp==1.27.0
PyQt5-sip==12.11.0
setuptools==68.0.0
tqdm==4.67.1
QtPy==2.2.0
psutil==5.9.0
uritemplate==4.1.1
google-auth-httplib2==0.2.0
execnet==2.1.1
prometheus_client==0.22.1
openai-whisper==20250625
google-auth-oauthlib==1.2.2
pyct==0.5.0
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
argon2-cffi==21.3.0
threadpoolctl==2.2.0
patsy==0.5.3
tifffile==2023.4.12
anaconda-project==0.11.1
dill==0.3.6
MarkupSafe==2.1.1
pytest-metadata==3.1.1
rapidfuzz==3.6.1
jmespath==0.10.0
applaunchservices==0.3.0
shap==0.48.0
pendulum==3.1.0
tzdata==2023.3
typing_extensions==4.13.2
numexpr==2.8.4
httpcore==1.0.9
lxml==4.9.3
pkginfo==1.9.6
cookiecutter==1.7.3
virtualenv==20.25.0
holoviews==1.17.1
wurlitzer==3.0.2
pyls-spyder==0.4.0
tabulate==0.8.10
markdown-it-py==2.2.0
debugpy==1.6.7
h2==4.2.0
rich==14.1.0
pydantic-extra-types==2.10.5
jellyfish==1.0.1
colorcet==3.0.1
botocore==1.29.76
linkify-it-py==2.0.0
sphinxcontrib-applehelp==1.0.2
glob2==0.7
platformdirs==3.10.0
pyviz-comms==2.3.0
aioitertools==0.7.1
arrow==1.2.3
opentelemetry-exporter-otlp-proto-common==1.27.0
google-api-python-client==2.170.0
pyasn1==0.6.1
appdirs==1.4.4
pyflakes==3.0.1
asgi-lifespan==2.1.0
websocket-client==0.58.0
kaleido==0.2.1
python-dotenv==1.1.0
QDarkStyle==3.0.2
zict==2.2.0
coverage==7.10.7
sympy==1.14.0
dulwich==0.21.7
jupyter_client==7.4.9
jinja2-humanize-extension==0.4.0
wrapt==1.14.1
atomicwrites==1.4.0
oauthlib==3.2.2
pyrsistent==0.18.0
CacheControl==0.13.1
intake==0.6.8
sphinxcontrib-jsmath==1.0.1
watchdog==2.1.6
pycparser==2.21
pyzmq==23.2.0
jupyter_core==5.3.0
pyobjc-framework-CoreServices==9.0
diff-match-patch==20200713
yapf==0.31.0
imbalanced-learn==0.10.1
llvmlite==0.40.0
conda_index==0.3.0
pure-eval==0.2.2
fastapi==0.115.14
backports.weakref==1.0.post1
sentry-sdk==2.45.0
backports.functools-lru-cache==1.6.4
backcall==0.2.0
referencing==0.36.2
conda-content-trust==0.2.0
opentelemetry-instrumentation==0.48b0
fonttools==4.25.0
wheel==0.38.4
certifi==2025.4.26
regex==2024.11.6
dateparser==1.2.2
watchfiles==1.1.1
lz4==4.3.2
cycler==0.11.0
chardet==4.0.0
uvicorn==0.30.6
pytoolconfig==1.2.5
xattr==0.10.1
keyring==24.3.0
pyodbc==4.0.34
pycodestyle==2.10.0
h11==0.16.0
gitdb==4.0.12
Deprecated==1.2.18
conda_package_streaming==0.9.0
sniffio==1.3.1
tblib==1.7.0
lazy-object-proxy==1.6.0
matplotlib-inline==0.1.6
PyJWT==2.4.0
pylint==2.16.2
rsa==4.9.1
httptools==0.7.1
requests-file==1.5.1
nbclassic==0.5.5
coolname==2.2.0
pydantic_core==2.20.1
joblib==1.2.0
terminado==0.17.1
SQLAlchemy==2.0.41
itemloaders==1.0.4
mpmath==1.3.0
ipython-genutils==0.2.0
duckdb==1.2.0
xyzservices==2022.9.0
python-socks==2.7.2
mccabe==0.7.0
pyobjc-framework-Cocoa==9.0
sortedcontainers==2.4.0
ujson==5.4.0
Faker==37.11.0
packaging==24.2
sphinxcontrib-htmlhelp==2.0.0
google-auth==2.40.2
poetry-core==1.8.1
tzlocal==5.3.1
Automat==20.2.0
pyOpenSSL==23.2.0
binaryornot==0.4.4
greenlet==2.0.1
beautifulsoup4==4.12.2
nltk==3.8.1
alembic==1.16.4
Mako==1.3.10
langchain==0.3.25
jupyter==1.0.0
opentelemetry-sdk==1.27.0
opentelemetry-util-http==0.48b0
tokenizers==0.13.2
conda-package-handling==2.2.0
build==1.0.3
imagesize==1.4.1
aiosqlite==0.18.0
sphinxcontrib-qthelp==1.0.3
qstylizer==0.2.2
aiohttp==3.8.5
poyo==0.5.0
urllib3==2.4.0
QtAwesome==1.2.2
anaconda-navigator==2.5.0
jsonschema-specifications==2025.4.1
Pillow==9.4.0
pexpect==4.8.0
imageio==2.31.1
uv==0.7.19
imagecodecs==2023.1.23
Jinja2==3.1.6
ruff==0.14.1
cffi==1.15.1
bcrypt==3.2.0
jinja2-time==0.2.0
conda-pack==0.6.0
pyobjc-core==9.0
opentelemetry-instrumentation-fastapi==0.48b0
jupyterlab==3.6.3
frozenlist==1.3.3
appscript==1.1.2
black==0.0
panel==1.2.3
Scrapy==2.8.0
astroid==2.14.2
langsmith==0.3.42
tomlkit==0.12.3
distro==1.9.0
graphviz==0.21
pycurl==7.45.2
w3lib==1.21.0
wcwidth==0.2.5
docutils==0.18.1
python-lsp-black==1.2.1
xlwings==0.29.1
jiter==0.10.0
conda-token==0.4.0
pluggy==1.6.0
pydocstyle==6.3.0
comm==0.1.2
griffe==1.11.0
rfc3986-validator==0.1.1
munkres==1.1.4
PyDispatcher==2.0.5
pandas==2.0.3
brotlipy==0.7.0
more-itertools==8.12.0
widgetsnbextension==4.0.5
jupyter_server_fileid==0.9.0
requests-toolbelt==1.0.0
google-api-core==2.24.2
soupsieve==2.4
docker==7.1.0
numpy==1.24.3
memory-profiler==0.61.0
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
ruamel.yaml==0.17.21
anaconda-cloud-auth==0.1.3
lmdb==1.4.1
pyarrow==11.0.0
pyobjc-framework-FSEvents==9.0
installer==0.7.0
openpyxl==3.0.10
PyYAML==6.0.2
httpx==0.28.1
transformers==4.32.1
spyder==5.4.3
humanize==4.12.3
smmap==5.0.2
Protego==0.1.16
xxhash==2.0.2
itsdangerous==2.0.1
python-snappy==0.6.1
ply==3.11
asgiref==3.10.0
notebook_shim==0.2.2
mistune==0.8.4
opentelemetry-exporter-otlp-proto-grpc==1.27.0
Flask==2.2.2
libarchive-c==2.9
jupyterlab-pygments==0.1.2
pydantic==2.8.2
safetensors==0.3.2
whatthepatch==1.0.2
pyasn1_modules==0.4.2
anaconda-client==1.12.1
alabaster==0.7.12
ypy-websocket==0.8.2
hpack==4.1.0
cssselect==1.1.0
orjson==3.10.18
json5==0.9.6
y-py==0.5.9
opentelemetry-instrumentation-asgi==0.48b0
polars==1.32.2
uvloop==0.22.1
toolz==0.12.0
anaconda-catalogs==0.2.0
s3fs==2023.4.0
zipp==3.11.0
pytest-mock==3.14.0
aiosignal==1.2.0
grpcio==1.75.1
opentelemetry-api==1.27.0
fsspec==2023.4.0
zope.interface==5.4.0
scipy==1.11.1
catboost==1.2.8
iniconfig==2.1.0
nbconvert==6.5.4
HeapDict==1.0.1
numpydoc==1.5.0
aiobotocore==2.5.0
param==1.13.0
three-merge==0.1.1
distributed==2023.6.0
annotated-types==0.7.0
matplotlib==3.7.2
opentelemetry-proto==1.27.0
httplib2==0.22.0
autopep8==1.6.0
gensim==4.3.0
opentelemetry-semantic-conventions==0.48b0
asyncpg==0.30.0
libmambapy==1.5.1
langchain-core==0.3.61
conda-build==3.26.1
apprise==1.9.4
pyparsing==3.0.9
cachetools==5.5.2
seaborn==0.12.2
wandb==0.23.0
hyperframe==6.1.0
boltons==23.0.0
requests-oauthlib==2.0.0
proto-plus==1.26.1
Twisted==22.10.0
multiprocess==0.70.14
uc-micro-py==1.0.1
pytest-cov==7.0.0
textdistance==4.2.1
pydantic-settings==2.10.1
cleo==2.1.0
xarray==2023.6.0
